.navbar {
    display: flex;
    background-color: #333;
    justify-content: center;
    gap: 20px;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #555;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        width: 100%;
        border-top: 1px solid #555;
    }

    .navbar a:first-child {
        border-top: none;
    }
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: black;
    margin-top: 500px;
    padding: 20px 10px;
    background-color: transparent;
    border-top: 1px solid #ccc;
}